<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${author.getName()}"></title>
</head>
<body>
<h1>Author Information</h1>

<div>
  <h2 th:text="${author.getName()}"></h2>
  <p th:text="${author.getDateOfBirth()}+' - '+${author.getDateOfDeath() == null ? '' : author.getDateOfDeath()}"></p>
  <form th:action="@{'~/author/'+${authorId}}" method="post">
    <label>
      <textarea name="description" th:text="${author.getDescription()}"></textarea>
    </label>
    <button type="submit">Update</button>
  </form>
</div>
</body>
</html>