<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Symphony</title>
</head>
<body>
    <h1>Welcome, to symphony!</h1>
    <button onclick="window.location.href = '/theatre'">Theatres</button>
    <br>
    <button onclick="window.location.href = '/author'">Authors</button>
    <br>
    <button onclick="window.location.href = '/studio'">Studios</button>
    <br>
    <button onclick="window.location.href = '/perform'">Performances</button>
    <br>
    <button onclick="window.location.href = '/show'">History of Performances</button>
    <br>
    <button onclick="window.location.href = '/available'">Available Performances</button>

</body>
</html>